@import url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.css");
/* @font-face {
  font-family: "LXGW WenKai", sans-serif;
  src: "...";
} */
:root {
  --md-text-font: "LXGW WenKai" !important;
}

/* 隐藏顶部导航栏第一个伪首页 */
[href="../.."],
.md-tabs__list > li:nth-child(1) {
  display: none;
}